<!-- IF .events and S_SHOW_EVENT -->
<link href="{ROOT_PATH}ext/sheer/minical/styles/all/theme/mstyle.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="{ROOT_PATH}ext/sheer/minical/styles/all/theme/mrstyle.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" />
<div id="minical">
	<div class="inner">
	<!-- BEGIN events -->
		<!-- IF events.TITLE -->
			<ul class="post-buttons" style="float:left; margin-right:10px">
				<li>
					<a href="{events.U_EVENT}" title="" class="button icon-button report-icon"></a>
				</li>
			</ul><a style="font-weight:bold; font-size:1.1em" href ="{events.U_EVENT}">{events.TITLE}</a>
			<br /><span style="font-weight:bold; font-size:1.1em; color: #000">{events.START}<!-- IF events.END -->&nbsp;&raquo;&nbsp;{events.END}<!-- ENDIF --></span><br />
			<!-- ENDIF -->
		<!-- END events -->
	</div>
</div>
<!-- ENDIF -->
