<!-- IF .events -->
<style>
#minical
{
	background-color: #FFF;
	border-color: #E6E9ED;
	border-radius: 8px;
	border: 1px solid transparent;
	margin: 0px auto;
	padding: 15px;
	max-width: 1152px;
	min-width: 625px
}
</style>
<div style="background-color: #CADCEB; border-color: #CADCEB; margin-bottom: 6px; padding: 10px;" id="minical">
	<div class="inner">
	<!-- BEGIN events -->
		<ul class="post-buttons" style="float:left; margin-right:10px">
			<li>
				<a href="{events.U_EVENT}" title="" class="button icon-button report-icon"></a>
			</li>
		</ul><a style="font-weight:bold; font-size:1.1em" href ="{events.U_EVENT}">{events.TITLE}</a>
		<br /><span style="font-weight:bold; font-size:1.1em; color: #000">{events.START}<!-- IF events.END -->&nbsp;&raquo;&nbsp;{events.END}<!-- ENDIF --></span><br />
	<!-- END events -->
	</div>
</div>
<!-- ENDIF -->
